 
  {% block stylesheets %}
            <link href="{{ asset('css/feed.css') }}" rel="stylesheet" />
        {% endblock %}


      <div class="feedCard">

    
                {% for feed in feed %}
                  {% if feed.status == 1 %}
                            <div class="card">
                            <div class="feedbackUser">
                                <p>De</p>  <h3 class="pseudo"> {{ feed.pseudo }}</h3>
                            </div>
                                <div class="feedBackUserComment">
                                      <h3 class="note">  {{ feed.note }}/ 5</h3>
                                      <h5> Commentaire :</br> {{ feed.comment }} </br></h5>
                                </div>
                            </div>

                      {% endif %}

                {% endfor %}
                
       </div>
 

