{% extends 'base.html.twig' %}

{% block title %}Nos vehicules{% endblock %}
{% block stylesheets %}
            <link href="{{ asset('css/vehicule.css') }}" rel="stylesheet" />
        {% endblock %}
{% block body %}

{% include 'navbar.html.twig' %}


     <content>
   <h1 class="Heading1"> Nos véhicules d'occasions  </h1>
    <div class="mainContent">
     {% include 'home/autoCard.html.twig' %}
     </div>
     </content>

{% endblock %}


        

