{% extends 'base.html.twig' %}

{% block title %}Service - V.Parrot{% endblock %}
{% block stylesheets %}
            <link href="{{ asset('css/Home.css') }}" rel="stylesheet" />
        {% endblock %}
{% block body %}

{% include 'navbar.html.twig' %}

     <content>
   <h1 class="Heading1"> nos services de réparation automobiles</h1>
    <div class="mainContent">
     {% include 'home/serviceCard.html.twig' %}
     </div>
     </content>

{% endblock %}