{% extends 'base.html.twig' %}
{% block stylesheets %}
             <link href="{{ asset('css/auto_edit.css') }}" rel="stylesheet" />
        {% endblock %}
{% block title %}Gestion des Services{% endblock %}

{% block body %}
 <div class="adminSide_bar">
            {% include 'dashbord/adminSide_bar.html.twig' %} 

        </div>

<div class="formContent">
    <h1>Ajouter un nouveaux Service</h1>
    {{ include('service/_form.html.twig') }}
    </div>

    <a  class="button"href="{{ path('app_service_index') }}">Retour à liste </a>
{% endblock %}
{% block footer%}
{% endblock %}


