.autoCounter{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    max-width:400px ;
    height:180px ;
    background-color: #858686;
    opacity: 58%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 5px 5px 15px 5px rgba(83, 77, 77, 0.226);

}

.count {
    font-size: 3rem;
    padding-top:2rem;
}

