
.boardContent{
   display: flex;
   flex-direction: column;
   margin-left: 300px;
   justify-self: center;
   align-self: center;
   width: 60vw;
   justify-content: space-evenly;
  
}

.Heading1{
   font-size: 40px;
   font-family: 'Bebas Neue', 'sans-serif';
   font-weight: lighter;
   height: 100px;
   padding-left: 5rem;
   margin-left: 13.5rem;
   box-shadow: 0px 34px 28px -10px rgba(0, 0, 0, 0.068);
  

}
.autoIndex_header{
   max-width: 70vw;
}
.autoIndex_content{
   max-width: 60vw;
}

.serviceCount{
   background-color: #a0a0a0;
   width: 400px;
   max-height: max-content;
   font-size: 25px;
   font-family: 'Bebas Neue', sans-serif;
   color: white;
   font-weight: lighter;
   text-align: center;
   justify-content: center;
   align-items: center;
   gap: 5px;
   padding-top: 10px;
   margin-top: 15px;
   box-shadow: 0px 34px 28px -10px rgba(0, 0, 0, 0.068);
}

.serviceCount h1{
   font-size: 24px;
   font-weight: lighter;
   width: 70%;
   
}

.serviceList{
   display: flex;
   justify-items: start;
   text-align: left;
   flex-direction: column-reverse;
   width: 100%;
  
}
.serviceCard{
   display: flex;
   gap: 2rem;
   width: 100%;
}

.serviceCard a:hover{
   background-color: #85868692;
   cursor: pointer;

}
.serviceCard a {
   color: white;
   background-color: #858686;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   max-height: 20px;
   width: 70px;
   align-self: center;
   text-align: center;
   margin: 10px;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
}

.serviceCard h1{
   padding-left: 1rem;
}