*{
    padding: 0px;
    margin: 0px;
   
}

content{

    
    justify-self: center;
}
body{
    padding: 0px;
    margin:0px;
    grid-template-rows: 10vh 90vh;
    height: max-content;
    max-width: 100vw;
}

.mainContent{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-top: 3rem;
}

.Heading1{
    font-size: 40px;
    font-family: 'Bebas Neue', 'sans-serif';
    font-weight: lighter;
    padding-left: 20px;
    margin:10px;
    padding-top: 30px;
}

.herobanner{
 
    text-align: center;
    color:#858686;
    margin: 50px;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.herobanner h1{
    font-family: 'Bebas Neue', 'Roboto';
    font-size: 48px;
    font-weight: 200;
    margin: 50px;
}
