*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

tbody{
   
    justify-content: center;
    background-color:#EFF0E4;
}

.columnName{
    font-size: larger;
    color: black;
    text-align: center;
}