{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}
{% block stylesheets %}
            <link href="{{ asset('css/auto_edit.css') }}" rel="stylesheet" />
          
        {% endblock %}
{% block body %}
     <div class="adminSide_bar">
            {% include 'dashbord/adminSide_bar.html.twig' %} 

        </div>
    <div class="formContent">
        <h1>Modifier l'annonce</h1>

            {{ include('image_gest/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <a class="button"href="{{ path('app_image_gest_index') }}">Retour à la liste</a>

    {{ include('image_gest/_delete_form.html.twig') }}</div>
{% endblock %}
