{% block stylesheets %}
            <link href="{{ asset('css/admin_side_bar.css') }}" rel="stylesheet" />
        {% endblock %}

{% block navbar %}
{{ app.session.get('user.commentAdmin') }}
 <div class="admin_side_bar">

 <a href="/admin">
<i class="fa-solid fa-house" style="color: #ffffff;"></i>
    <p> Tableau de bord</p>
</a>

 <a href="/register">
 <i class="fa-solid fa-user" style="color: #ffffff;"></i>
 <p> Utilisateurs</p>
</a>

 <a href="/imggest">
<i class="fa-solid fa-car" style="color: #ffffff;"></i>
<p> Annonces automobiles </p>
</a>


 <a href="/horaire">
<i class="fa-solid fa-clock" style="color: #ffffff;"></i>
<p> Gestions des horaires</p>
</a>
 <a href="/service/new">
<i class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>
<p> Gestion des services </p>
</a>


 <a href="/auto/demand">
<i class="fa-solid fa-laptop-file "style="color: #ffffff;"></i>
<p> Demandes automobiles</p>
</a>

 <a href="/demand/admin">
<i class="fa-solid fa-stethoscope" style="color: #ffffff;"></i>
<p> Demandes de services</p>
</a>

 <a href="/feedback">
<i class="fa-solid fa-comment" style="color: #ffffff;"></i>
<p> Avis client </p>
</a>
<a href="/">
<i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
<p> Accueil </p>
</a>

</div>


{% endblock %}