    
    {% block stylesheets %}
            <link href="{{ asset('css/counter.css') }}" rel="stylesheet" />
        {% endblock %}
    
     <div class="autoCounter">
     
                        <h2>{{ count }}</h2>
                 
                      <h2>Vehicule en vente</h2>
       </div>