{% extends 'base.html.twig' %}
{% block stylesheets %}
            <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
        {% endblock %}

{% block title %}Dashboard{% endblock %}


{% block body %}
{% include 'dashbord/adminSide_bar.html.twig' %} 
    
    <div class="boardContent">
        {% include 'dashbord/counter.html.twig' %} 
        {% include 'dashbord/horaireSet.html.twig' %} 
   </div>

{% endblock %}
{% block footer%}
{% endblock %}
